
body {
	background-color: lavender;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	height: 90%;
	margin: 0;
	text-align: center;
	width: 100%;
}

h1 {
	background-color:grey;
	height:18%;
	font-size: 64px;
  font-family: Palatino, 'Palatino Linotype', serif;
  color: lavender;
}
.intro {color: grey;}
h2 {
	font-size: 56px;
}

div {color: grey;}


p {
  font-size: 2rem;
}

a{color: darkorchid;
	font-size: 32px;}
